html {
    height: 100%;
    min-height: 100%;
}

#navbar {
    display: grid;
    grid-template-columns: 1fr 56px 56px 56px 81px;
    grid-template-rows: 50px;
    grid-template-areas:'. gmail images menu signin';
}

a {
    text-decoration: none;
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px ;
}

#gmail {
grid-area: gmail;
margin-right: 7px;
justify-self: center;
margin-top: 25%;
}

#gmail:hover {
    text-decoration: underline;
}
#images {
grid-area: images;
justify-self: center;
margin-top: 25%;
}

#images:hover {
    text-decoration: underline;
}
#menu {
grid-area: menu;
justify-self: center;
margin-right: 5px;
margin-top: 25%;
}

#menu-opacity {
    opacity: 0.75;
}
#menu-opacity:hover {
    opacity: 1;
}

#signin {
grid-area: signin;
margin-right: 25px;
margin-top: 14.75px;
border: 1px solid;
font-weight: bold;
outline: none;
background: #4285f4;
color: #fff;
}

#main {
    display: grid;
    height: 88vh;
    grid-template-columns: 220px auto 270px;
    grid-template-rows: 255px 65px 65px 270px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". language .";
}

#logo {
    grid-area: logo;
    margin-top: auto;
    margin-bottom: 20px;
    justify-self: center;
}
#search {
    grid-area: search;
    height: 35px;
    align-self: center;
    justify-self: center;
    width: 555px;
}
#language {
    grid-area: language;
    justify-self: center;
}

#flexbox {
    display: flex;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}

